body {
    background-color: #121212; 
    color: #e0e0e0; 
}


.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 1.0);
    padding: 10px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 160px;
    overflow: hidden;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: url('/images/world-map.jpg') center/cover no-repeat;
    position: relative; 
    padding: 20px 20px;
    animation: scrollBackground 20s linear infinite; 
    z-index: 2;
    height: 100%;
}

.header-content::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: -10; 
}

@keyframes scrollBackground {
    0% {
        background-position: center top; 
    }
    100% {
        background-position: center bottom; 
    }
}

.search-bar input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 15px;
    z-index: 2;
}

button {
    background: #111111;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
}

button:hover {
    background: #525354;
}


.card {
    height: 540px; 
    background-color: #f8f9fa; 
    width: 700px;
    margin-left: 45px;
    margin-right: -10px; 
    display: flex;
    flex-direction: column;
}


.card-body {
    position: relative; 
    flex-grow: 1; 
    padding: 20px;
}


.card-body form {
    position: absolute;
    bottom: 20px;
    left: 20px; 
    width: auto; 
    padding: 0; 
}


.card-body form button {
    padding: 10px 20px; 
    border-radius: 5px;
    background: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto; 
}


.card-body form button:hover {
    background: #848586;
}


.card-title {
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    font-weight: 700;
    color: #343a40; 
    max-width: 100%; 
    transition: all 0.3s ease; 
}


.card-title:hover {
    white-space: normal; 
    text-overflow: unset;
    max-width: none;
}


.card-text {
    font-size: 0.9rem;
    height: 60px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


.card-img-top {
    height: auto;  
    object-fit: fill; 
    width: 100%; 
    height: 350px; 
}

.sticky-date-filter {
    position: sticky;
    top: 150px;
    z-index: 1020; 
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    padding-right: 0px;

}

.sticky-date-filter .col-4 input[type="month"] {
    width: 100%;  /* Make the month input boxes fill the available space */
    padding-left: 0px;  /* Optional: Reduce padding inside the input box */
    padding-right: 10px; /* Optional: Reduce padding inside the input box */
}

.sticky-sidebar {
    position: sticky;
    top: 263px; 
    height: 100vh; 
    overflow-y: auto; 
    max-height: calc(100vh - 283px);
}


.list-group-item {
    border: none;
    transition: background-color 0.3s;
    color: #000000; 
    padding: 10px;
}

.list-group-item:hover {
    background-color: #444445;
    color: white;
}


.sticky-heading {
    position: sticky;
    top: 0px;
    background-color: #000000; 
    padding: 10px;
    font-size: 1.2rem;
    color: #ffffff; 
    z-index: 10;
    text-align: center;
}

.pagination .page-item {
    margin-right: 5px; 
}

.page-link {
    background-color: #656161; /* Black background */
    color: white; /* White text */
    border: 1px solid #444444; /* Light border */
}

.page-link:focus {
    border-color: white !important; /* White border on focus */
    outline: none; /* Remove outline */
}

.page-item.active .page-link {
    background-color: #525354; /* Slightly lighter black for active page */
    color: white;
    border-color: white; /* White border for active page */
}
