<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form th:action="@{/login}" method="post" th:object="${user}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
        <p data-th-if="*{#fields.hasErrors('username')}" data-th-errors="*{username}" class="error"></p>
        <br><br>     
        <button type="submit">Login</button>   
    </form>
</body>
</html>