<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/newUser.css">
</head>
<body>
    <form th:action="@{/create}" method="post" th:object="${user}">
        <h2>Register as a New User</h2>
        
        <div class="form-group row">
            
            <div class="col-sm-6 d-inline-flex">
                <label for="username">Username:</label>
                <input type="text" th:field="*{username}" class="form-control  form-control-sm w-100 " placeholder="Enter your username" required>
                <label for="password">Password:</label>
                <input type="password" th:field="*{password}" class="form-control  form-control-sm w-100 " placeholder="Enter your password" required>
            </div>
            
            <div class="col-sm-6 d-inline-flex">
                
                <button type="submit" class="btn btn-outline-light w-80">Submit</button>
            </div>
            <!-- <div class="col-sm-2">
                
            </div> -->
            
            <div class="col-sm-12">
                <!-- Error message for username -->
                <p th:if="*{#fields.hasErrors('username')}" th:errors="*{username}" class="error-box text-danger"></p>
                <p th:if="*{#fields.hasErrors('password')}" th:errors="*{password}" class="error-box text-danger"></p>
            </div>
        </div>
        
        
        <div class="form-group">
            <h2>Select at least one topic of interest:</h2>
            <span th:if="*{#fields.hasErrors('topicsOfInterest')}" th:errors="*{topicsOfInterest}" class="error-box text-danger"></span>
            <div class="row mb-4 faded-box">
                <h4 class="text-center">Popular Topics</h4>
                <div class="col-3" th:each="section : ${session.popTopics}">
                    <div>
                        <input type="checkbox" th:field="*{topicsOfInterest}" th:value="${section.value}" th:id="${section.value}">
                        <label th:for="${section.value}" th:text="${section.key}"></label>
                    </div>
                </div>
            </div>

            <div class="row faded-box">
                <h4 class="text-center">Explore other topics</h4>
                <div class="col-3" th:each="section : ${session.others}">
                    <div>
                        <input type="checkbox" th:field="*{topicsOfInterest}" th:value="${section.value}" th:id="${section.value}">
                        <label th:for="${section.value}" th:text="${section.key}"></label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-light ">Submit</button>
        </div>             -->
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
